<h1 class="text-center mt-4">Borrowed books</h1>
<div class="d-flex justify-content-center gap-3 my-3">
  <button class="btn btn-success" (click)="this.page=0; fetchBooks(BookFilter.RETURNED)">Borrowed & returned</button>
  <button class="btn btn-danger" (click)="this.page=0; fetchBooks(BookFilter.CURRENTLY)">Currently borrowed</button>
  <button class="btn btn-primary" (click)="this.page=0; fetchBooks(BookFilter.ALL)">All borrowed books</button>
</div>
<hr>
<div class="d-flex justify-content-center">
  <div class="d-flex flex-column col-md-10 col-lg-8 col-xl-6" *ngIf="selectedBook">
    <h3 class="text-center my-4">Return and share feedback</h3>
    <div class="d-flex flex-column">
      <div class="row">
        <div class="col-3 col-sm-2">
          <strong>Title:</strong>
        </div>
        <div class="col-9 col-sm-10">
          {{ selectedBook.title }}
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-2">
          <strong>Author:</strong>
        </div>
        <div class="col-9 col-sm-10">
          {{ selectedBook.authorName }}
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-2">
          <strong>ISBN:</strong>
        </div>
        <div class="col-9 col-sm-10">
          {{ selectedBook.isbn }}
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-2">
          <strong>Rating:</strong>
        </div>
        <div class="col-9 col-sm-10">
          {{ selectedBook.rate }}
        </div>
      </div>
    </div>
    <div>
      <form class="row g-3">
        <div class="d-flex gap-3">
          <input [(ngModel)]="feedbackRequest.rating" type="range" id="rating" name="rating" class="form-range w-25" min="0" max="5" step="0.5">
          <app-rating [rating]="feedbackRequest.rating || 0"></app-rating>
          {{ feedbackRequest.rating }}
        </div>
        <div class="col-12">
          <label for="synopsis" class="form-label">Feedback</label>
          <textarea [(ngModel)]="feedbackRequest.comment" rows="4" class="form-control" id="synopsis" name="synopsis" placeholder="Type your feedback here"></textarea>
        </div>
        <div class="d-flex justify-content-center gap-2 col-12">
          <button (click)="returnBook(true)" type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save"></i>&nbsp;Rate the book & Return
          </button>
          <button (click)="returnBook(false)" type="button" class="btn btn-outline-success">
            <i class="fa-solid fa-paper-plane"></i>&nbsp;Just Return
          </button>
          <a (click)="selectedBook = undefined" type="button" class="btn btn-outline-danger">
            <i class="fas fa-times"></i>&nbsp;Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="!selectedBook">
  <table class="table text-center">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th class="hidden-on-mobile" scope="col">Author</th>
      <th scope="col">Owner</th>
      <th class="hidden-on-mobile" scope="col">Borrowed</th>
      <th class="hidden-on-mobile" scope="col">Returned</th>
      <th class="hidden-on-mobile" scope="col">Feedback</th>
      <th scope="col">Return</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let book of borrowedBooks.content; let index = index">
        <tr>
          <th class="hidden-on-mobile" scope="row">{{ index + 1 }}</th>
          <th scope="row" class="hidden-after-md">
            <button class="btn p-0"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + (index + 1)">
              <i class="fa-solid fa-chevron-down"></i>
            </button>
          </th>
          <td><span class="clickable" (click)="goToBookDetails(book.id)">{{ book.title }}</span></td>
          <td class="hidden-on-mobile"><span class="clickable">{{ book.authorName }}</span></td>
          <td><span class="clickable">{{ book.owner }}</span></td>
          <td class="hidden-on-mobile">{{ book.borrowedAt | date }}</td>
          <td class="hidden-on-mobile">
            <ng-container *ngIf="book.returnedAt; else notReturned">
              {{ book.returnedAt | date }}
            </ng-container>
            <ng-template #notReturned>
              <strong class="text-danger">Not returned</strong>
            </ng-template>
          </td>
          <td class="hidden-on-mobile"><i class="fas fa-star text-warning"></i> {{ book.rate }}</td>
          <td>
            <i *ngIf="book.returned" class="fa-regular fa-paper-plane fa-xl" title="Already returned" style="color: green;"></i>
            <i *ngIf="!book.returned" (click)="selectBook(book)" class="fa-solid fa-paper-plane fa-xl clickable" title="Return book" style="color: dodgerblue;"></i>
          </td>
        </tr>

        <!--   collapsible   -->
        <tr>
          <td colspan="9" class="p-0 border-0">
            <div [id]="'collapse' + (index + 1)" class="collapse bg-light">
              <div class="d-flex flex-row justify-content-evenly align-items-center">
                <div id="image">
                  <img [src]="'data:image/jpg;base64,' + book.cover" class="img-fluid collapsible-cover">
                </div>
                <!-- p-3 here instead of upper div improves rendering performance-->
                <div id="info" class="d-grid p-3 gap-2 text-start" style="grid-template-columns: auto 1fr;">
                  <div><strong>Author:</strong></div>
                  <div>{{ book.authorName }}</div>

                  <div><strong>Borrowed:</strong></div>
                  <div>{{ book.borrowedAt | date }}</div>

                  <div><strong>Returned:</strong></div>
                  <div>
                    <ng-container *ngIf="book.returnedAt; else notReturned">
                      {{ book.returnedAt | date }}
                    </ng-container>
                    <ng-template #notReturned>
                      <strong class="text-danger">Not returned</strong>
                    </ng-template></div>

                  <div><strong>Feedback:</strong></div>
                  <div><i class="fas fa-star text-warning"></i> {{ book.rate }}</div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <app-page-navigation
    [pages]="pages"
    [page]="page"
    (pageChange)="onPageChange($event)">
  </app-page-navigation>
</div>

