<div id="bookCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let chunk of chunkedBooks; let i = index"
      [class.active]="i === 0"
    >
      <div class="d-flex justify-content-evenly">
        <div *ngFor="let book of chunk">
          <app-book-thumbnail [book]="book"></app-book-thumbnail>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
