<div class="mt-4" id="all">
  <div class="row">
    <div id="hero" class="col-md-5">
      <div id="bookCoverWrapper" class="d-flex justify-content-center mx-auto">
        <img id="bookCover" class="img-fluid rounded-3" [src]="'data:image/jpg;base64,' + book.cover" alt="Book Cover">
      </div>
      <div id="metaInfo" class="d-flex flex-column my-4">
        <h1 class="text-center mb-0">{{book.title}}</h1>
        <h3 class="text-center text-secondary mt-0">{{book.authorName}}</h3>
        <div class="d-flex justify-content-center gap-2 my-4">
          <app-rating [rating]="book.rate || 0"></app-rating>
          <span class="fw-bold">{{ book.rate }}</span>
          <span class="text-secondary">({{feedbacks.totalElements || 0}} feedbacks)</span>
        </div>
      </div>
    </div>
    <div id="additional-info" class="col-md-7">
      <p id="synopsis" class="fw-semibold">
        {{ book.synopsis }}
      </p>
      <div id="other-books-from-author" class="my-5">
        <div class="h2 text-center mb-4">Other books from the author</div>
        <app-author-books-carousel [authorName]="book.authorName"></app-author-books-carousel>
      </div>
      <hr>
      <div id="owners" class="my-5">
        <div class="h2 text-center mb-4">Can be borrowed from</div>
        <app-user-carousel [bookTitle]="book.title"></app-user-carousel>
      </div>
    </div>
  </div>
  <div id="feedbacks">
    <h3>Feedbacks</h3>
    <hr>
    <div class="d-flex flex-column justify-content-end">
      <div *ngFor="let feedback of feedbacks.content">
        <div class="d-flex gap-2">
          <app-rating [rating]="feedback.rating || 0"></app-rating>
          <strong>{{feedback.rating}}</strong>
        </div>
        <p>{{feedback.comment}}</p>
      </div>
    </div>
  </div>
</div>
