<h3>My books list</h3>
<hr>
<div class="d-flex justify-content-center mb-3">
  <a routerLink="/books/manage-book" class="btn btn-outline-primary">
    <i class="fas fa-plus"></i>&nbsp;New book
  </a>
</div>
<div class="d-flex justify-content-center gap-2 flex-wrap">
  <app-book-card
    *ngFor="let book of bookResponse.content"
    [book]="book"
    [manage]="true"
    (archive)="archiveBook($event)"
    (share)="shareBook($event)"
    (edit)="editBook($event)"
  ></app-book-card>
</div>
<app-page-navigation
  [pages]="pages"
  (pageChange)="onPageChange($event)">
</app-page-navigation>


