li > a {
  &:hover {
    background-color: #d6e5f1;
    border-radius: 5px;
    text-decoration: underline;
  }
  &.active {
    color: #24a7e9;
    border-radius: 5px;
  }
}

@media (max-width: 425px) {
  .navbar-brand {
    display: none;
  }
}

@media (max-width: 950px) {
  .span-text {
    display: none;
  }
}

@media (max-width: 950px) {
  .menu-text {
    display: none;
  }
}
