<h1 class="text-center mt-4">Loaned books</h1>
<div class="d-flex justify-content-center gap-3 my-3">
  <button class="btn btn-success" (click)="this.page=0; fetchBooks(BookFilter.RETURNED)">Loaned & returned</button>
  <button class="btn btn-danger" (click)="this.page=0; fetchBooks(BookFilter.CURRENTLY)">Currently on loan</button>
  <button class="btn btn-primary" (click)="this.page=0; fetchBooks(BookFilter.ALL)">All loaned books</button>
</div>
<hr>
<div>
  <table class="table text-center">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title </th>
      <th class="hidden-on-mobile" scope="col">Author</th>
      <th scope="col">Borrower</th>
      <th class="hidden-on-mobile" scope="col">Borrowed at</th>
      <th class="hidden-on-mobile" scope="col">Returned at</th>
      <th class="hidden-on-mobile" scope="col">Feedback</th>
      <th scope="col">Returned</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let book of loanedBooks.content; let index = index">

        <tr>
          <th class="hidden-on-mobile" scope="row">{{ index + 1 }}</th>
          <th scope="row" class="hidden-after-md">
            <button class="btn p-0"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + (index + 1)">
              <i class="fa-solid fa-chevron-down"></i>
            </button></th>
          <td><span class="clickable" (click)="goToBookDetails(book.id)">{{ book.title }}</span></td>
          <td class="hidden-on-mobile"><span class="clickable">{{ book.authorName }}</span></td>
          <td><span class="clickable">{{ book.borrowedBy }}</span></td>
          <td class="hidden-on-mobile">{{ book.borrowedAt | date }}</td>
          <td class="hidden-on-mobile">{{ book.returnedAt | date }}</td>
          <td class="hidden-on-mobile"><i class="fas fa-star text-warning"></i> {{ book.rate }}</td>
          <td>
            <i *ngIf="book.returned" class="fa-solid fa-circle-check fa-xl" style="color: green;"></i>
            <i *ngIf="!book.returned" class="fa-solid fa-circle-xmark fa-xl" style="color: red;"></i>
          </td>
        </tr>
        <!--   collapsible   -->
        <tr>
          <td colspan="9" class="p-0 border-0">
            <div [id]="'collapse' + (index + 1)" class="collapse bg-light">
              <!--improves rendering performance-->
              <div class="p-3">
                <div><strong>Author:</strong> {{ book.authorName }}</div>
                <div><strong>Borrowed at:</strong> {{ book.borrowedAt | date }}</div>
                <div><strong>Returned at:</strong> {{ book.returnedAt | date }}</div>
                <div><strong>Feedback:</strong> <i class="fas fa-star text-warning"></i> {{ book.rate }}</div>
              </div>
            </div>
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>
  <app-page-navigation
    [pages]="pages"
    [page]="page"
    (pageChange)="onPageChange($event)">
  </app-page-navigation>
</div>



