.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #24a7e9;
}

@media (max-width: 767px) {
  .hidden-on-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .hidden-after-md {
    display: none;
  }
}
