img {
  cursor: pointer;
  transform: scale(1.0);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.hover-info {
  display: none;
  position: absolute;
  top: -5%;
  left: 110%;
  z-index: 9999;
  width: 400px;
}

.book-thumbnail:hover .hover-info {
  display: block;
}
