<div (click)="goToBookDetails()" class="book-thumbnail position-relative overflow-visible">
  <img width="115" height="180" [src]="bookCover" alt="{{book.title}}">

  <div class="hover-info bg-white border border-5 rounded p-3">
    <div class="fs-5 fw-bold">{{book.title}}</div>
    <div class="fs-6 fw-semibold">{{'by ' + book.authorName}}</div>
    <div class="d-flex gap-2 book-rating">
      <app-rating [rating]="book.rate || 0"></app-rating>
      <span class="fw-bold" *ngIf="book.rate || 0 > 0">
        {{book.rate}}
      </span>
    </div>
    <div class="small">{{book.synopsis}}</div>
  </div>
</div>
