<div
  class="card"
  style="width: 20rem;"
  [class.border-success]="book.shareable"
  [class.border-warning]="!book.shareable"
  [class.border-danger]="book.archived"
>
  <img height="350" [src]="bookCover" class="card-img-top" alt="...">
  <div class="card-body overflow-scroll">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1"><i class="fa-solid fa-book" title="Title"></i>&nbsp;{{book.title}}</h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa-sharp fa-solid fa-pen" title="Author"></i>&nbsp;{{ book.authorName }}</h5>
    <h5 class="card-subtitle fs-6 text-secondary"><i class="fas fa-user" title="Owner"></i>&nbsp;{{ book.owner }}</h5>
    <hr>
    <p class="card-text">{{book.synopsis}}</p>
  </div>
  <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
    <div class="d-flex gap-2">
      <app-rating [rating]="book.rate || 0"></app-rating>
      <span class="fw-bold" *ngIf="book.rate || 0 > 0">
        {{book.rate}}
      </span>
    </div>
    <div class="d-flex align-items-center gap-3" *ngIf="!manage">
      <app-book-details-button [bookId]="book.id"></app-book-details-button>
      <app-borrow-book-button [bookId]="book.id"></app-borrow-book-button>
      <app-favorite-button [bookId]="book.id"></app-favorite-button>
    </div>
    <div class="d-flex align-items-center gap-2" *ngIf="manage">
      <app-book-details-button [bookId]="book.id"></app-book-details-button>
      <app-edit-book-button [bookId]="book.id"></app-edit-book-button>
      <i (click)="onShare()" class="fas fa-share-nodes fa-lg text-primary" title="Share"></i>
      <i (click)="onArchive()" class="fas fa-archive fa-lg text-danger" title="Archive"></i>
    </div>
  </div>
</div>
